* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonte google Rounded Mplus 1c */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');


 .logo-desk {
  border: solid black 2px;
}

header {
  width: 100%;
  height: 768px;
  background-image: url("./img/fundo.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 1px black;
}
/* logo header */
header .logo-desk {
width: 124.69px;
height: 15.67px;
margin-top: 40.33px;
margin-left: 5%;
}

header .link {
  border: solid 1px blue;
  width: 215px;
  margin-left: 26%;
  margin-top: 156px;
}
  /* texto reader  */
  header .link p {
    font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  color: #FFFFFF;
  width: 201px;
  
  }
/* Btn header */
.order-now-button {
  margin-top: 30px;
  width: 213px;
  height: 60px;
  border-radius: 50px;
  background-color: #1820EF;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #FFFFFF;
  text-align: left;
  padding-left: 16px;
  letter-spacing: 1.78px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px; /* Ajusta o espaço para a seta */
}

.order-now-button::after {
  content: '';
  display: block;
  width: 20px;
  height: 16px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16"><polygon points="10 0 8.59 1.41 14.17 7 0 7 0 9 14.17 9 8.59 14.59 10 16 20 8 10 0" fill="%23FFC024"/></svg>') no-repeat center center;
  transition: background-color 0.3s;
}

.order-now-button:hover {
  background-color: #C5C5C5;
}

.order-now-button:hover::after {
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16"><polygon points="10 0 8.59 1.41 14.17 7 0 7 0 9 14.17 9 8.59 14.59 10 16 20 8 10 0" fill="%23FFFFFF"/></svg>') no-repeat center center;
}
/* Menu Broth Menu Meat */
.menu-broth,.menu-meat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-broth h1,.menu-meat h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
font-size: 32px;
font-weight: 900;
line-height: 47.52px;
text-align: center;
color:  #000000;
}
.menu-broth p,.menu-meat p{
  font-family: "M PLUS Rounded 1c", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;

}